streamlit==1.22.0
torch>=2.2.0+cpu
torchvision>=0.15.2+cpu
pandas>=2.0.0
pillow>=10.0.0
matplotlib>=3.7.0
numpy>=1.24.0
seaborn==0.13.0
nest_asyncio==1.5.5
streamlit>=0.80.0
-f https://download.pytorch.org/whl/torch_stable.html
